-SOL = 8
# r v b
# r v b
# r v b
# r v b
# r v b
# r v b
# r v b
# r v b

-DECORE = X
#x y longueur largeur
	...
-CIEL = 0 ou 1
#Backxxxxx.pcx
(
si 1 :
# r v b incr incv incb
)

-BACK = 2
#Font1.pcx
#Font2.pcx

-GRAVITE = 1
#0.025

-TRACK = X

-ORAGE = 0 ou 1

-ESPACE = X

-END