-VITALITE = 25           Vitalité des Moutons
-JOUEURS = 4		Nombre de joueurs par equipe
-EQUIPES = 3		Nombre d'équipes
-PLANS = 3		Largeur du niveau
-CURNIV =0		Niveau
-NIVEAUX = 3		Nombre total de niveaux
#neige
#neige2
#jungle
-MENUCOUL = 1
#4 0 0 -1 4 0 -1 -1 4 -1 -1 -1 
-END