-EQUIPES = 12
# Code ,GnoMaster, Christophe, DarkSheep, Mouton, ?, ?, ?, ?, 0 0 63
# Sfx ,dJo , Jonathan, Killer, Herisson , ?, ?, ?, ?, 63 0 0
# Graph ,Bart57, Aymeric, Boucher, Souris, ?, ?, ?, ?, 0 63 0
# Miss ,Adeline, Alexia, Benedicte, Elise, ? , ? , ?, ? , 63 0 63
# Sylv ,Dede, Dodo, Doudou, DeeDee, ?, ?, ?, ?, 63 63 0
# ? ,?, ?, ?, ?, ?, ?, ?, ?, 0 63 63
# ? ,?, ?, ?, ?, ?, ?, ?, ?, 0 63 37
# ? ,?, ?, ?, ?, ?, ?, ?, ?, 63 44 0
# ? ,?, ?, ?, ?, ?, ?, ?, ?, 20 40 16
# ? ,?, ?, ?, ?, ?, ?, ?, ?, 32 32 32
# ? ,?, ?, ?, ?, ?, ?, ?, ?, 37 12 60
# ? ,?, ?, ?, ?, ?, ?, ?, ?, 37 12 60
-END
