-EQUIPES = 3          **** Voir config.txt ***
# Code 4 GnoMaster Christophe Darksheep Mouton ; 0 50 0
# Sfx 4 dJo Jonathan Killer Herisson  ; 50 0 0
# Graph 4 Bart57  Aymeric Boucher Souris ; 0 0 50
-END
