-VITALITE = 35
-JOUEURS = 4 
-PLANS = 4 
-SUIVRE = 1
-LECTCD = 1
-MELANGE = 1
-CURNIV = 4 
-NIVEAUX = 6
# Neige
# Montagne
# Jungle
# Lune
# Plage
# Frissons
-MENUCOUL = 1
#4 0 0 -1 4 0 -1 -1 4 -1 -1 -1 
-END